<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Signature</key>
	<data>
	SZgu8NhRT/u03uelvj8gfYvGTSu8VXAToHKzkL+McktLN8a6SaBNrP4fEadC+0d2JHMF
	IrkJyc7W/ukIcf3AzxP/gCXtg7ui2tiIjDxrHYPx5uHFhU3tVehWHY+bocDFf/UmEotH
	p/s+3WA8qCDm8VOeuo/Kjo4pkjRTiFVx6Z8=
	</data>
</dict>
</plist>
